{{#if success_message}}
    <div class="message__success">
        <p>{{success_message}}</p>
    </div>
{{/if}}

{{#if error_message}}
    <div class="message__error">
        <p>{{error_message}}</p>
    </div>
{{/if}}

