<nav class="navigation__menu">
    <div class="navigation__menu-company">
        <p>LoveStories</p>
        <svg height="64" width="64" >
            <path id="heart-icon" d="M16,28.261c0,0-14-7.926-14-17.046c0-9.356,13.159-10.399,14-0.454c1.011-9.938,14-8.903,14,0.454
            C30,20.335,16,28.261,16,28.261z" stroke="#FE4365" fill="#FE4365"/>            
        </svg>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </div>
    <div class="navigation__menu-user">
        <a href="/stories/add">Add a story</a>
        <a href="/login">Log in</a>
        <a href="/signup">Sign up</a>
    </div>
</nav>