<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Festify: match, chat and party with other festival lovers 🔥</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="css/landing.css" type="text/css">
    <base href="http://localhost:8080/">
  </head>
  <body>
    {{{ body }}}
  </body>
</html>