<main class="main__addUser">
    <img src="" alt="" class="main__addUser-background">
    <h1 class="main__addUser-heading">Sign up</h1>

    <button class="button__landing-login js-button-login">Log in</button>
    <button class="button__landing-signup js-button-signup">Sign up</button>
</main>


