<div class="wrapper__home">
    <h1 class="wrapper__home-heading" id="heading"></h1>
</div>

<script>
    window.onload = function() {
        var tagline = document.getElementById('heading');
        var taglines = [
            "Find back that cute person you saw on the train.",
            "Reconnect with that crush from your walk around town.",
            "Your secret crush might be looking out for you.",
            "Because love isn't always love at first sight."
        ];
        tagline.innerText = taglines[Math.floor(Math.random()*taglines.length)];
    }
</script>