<form action="/log-in" method="POST" class="form js-form-login">
    <label for="" class="form__label-username">User name</label><br>
    <input type="text" name="username" class="form__input-username"><br>
    <label for="" class="form__label-password">Password</label><br>
    <input type="password" name="password" class="form__input-password">
</form>