<form action="/submit-credentials" method="POST" class="form js-form-login">
    <label for="username" class="label form__label-username">Username</label><br>
    <input type="text" name="username" class="input form__input-username" /><br>
    <label for="password" class="label form__label-password">Password</label><br>
    <input type="password" name="password" class="input form__input-password" /><br>
    <input type="submit" class="form__submit">
</form>