<div class="form__wrapper">
    <form action="POST" class="form" role="form">
        <label for="input-age" class="form__label-age">Leeftijd:</label> <br/>
        <input type="range" min="18" max="45" class="form__input-age js-form-age" id="input-age"> <br/>

        <label for="input-gender" class="form__label-gender">Mij weergeven aan:</label> <br/>
        <input type="checkbox" name="checkbox-male" value="male" class="form__input-men js-input-men">Mannen <br/>
        <input type="checkbox" name="checkbox-female" value="female"  class="form__input-women js-input-women">Vrouwen <br/>
        <input type="submit" value="Toepassen" clas="form__input-submit js-input-submit">
    </form>
</div>

<script>
  document.body.classList.add('fade');
</script>
