<div class="form__wrapper">
    <form action="/genre-submitted" method="POST" class="form" role="form">
        <label for="input-genre" class="form__label-genre">Search for a genre:</label> <br/>
        <input type="text" name="genre" placeholder="For example: hiphop, pop" class="form__input-genre js-input-genre"> <br/>
        <input type="submit" value="Search" clas="form__input-submit js-input-submit">
    </form>
</div>
