<form action="/signup-completed" method="POST" class="form js-form-signup">
    <label for="username" class="label form__label-username">Username</label><br>
    <input type="text" name="username" class="input form__input-username" /><br>
    <label for="password" class="label form__label-password">Password</label><br>
    <input type="password" name="password" class="input form__input-password" /><br>
    <label for="name" class="label form__label-name">Name</label><br>
    <input type="text" name="name" class="input form__input-name" /><br>
    <label for="age" class="label form__label-age">Age</label><br>
    <input type="text" name="age" class="input form__input-age" /><br>
    <input type="submit" class="form__submit">
</form>