<div class="wrapper">
    <h2 class="wrapper__title">Edit your love story</h2>
        <form action="/stories/{{story.id}}?_method=PUT" method="post" class="form">
            <input type="hidden" name="_method" value="PUT">
            <div class="form__wrapper-title">
                <label for="title">Title</label><br>
                <input type="text" name="title" value="{{story.title}}" required>
            </div>
            <div class="form__wrapper-description">
                <label for="description">Description</label><br>
                <textarea type="text" name="description" required>{{story.description}}</textarea>
            </div>
            <div class="form__wrapper-date">
                <label for="date">Date of encounter</label><br>
                <input type="date" name="date" value="{{story.dateAdded}}" min="2018-01-01" max="2019-12-31" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>