<div class="form__add">
    <h2>Add a festival</h2>
    <form action="/festivals" method="POST">
        <div>
            <label for="name">Name of the festival</label><br>
            <input type="text" name="name">
        </div>
         <div>
            <label for="genre">Genre</label><br>
            <input type="text" name="genre">
        </div>
        <div>
            <label for="date">Date</label><br>
            <input type="text" name="date">
        </div>
        <div>
            <label for="location">Location</label><br>
            <input type="text" name="location">
        </div>
        <div>
            <label for="backgroundImageUrl">Festival image URL</label><br>
            <input type="text" name="backgroundImageUrl">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>