<div class="login">
    <form action="" class="login__form">
        <h2 class="login__heading">Account login</h2>
        <div class="login__form-wrapper">
            <label for="email">Email account</label><br>
            <input type="email" name="username" class="form__input-genre" required><br>

            <label for="password">Password</label><br>
            <input type="password" name="password" class="form__input-genre" required><br>
        </div>
        <button class="button__landing-login js-button-login">Log in</button>
    </form>
</div>