<h2 class="login__title">Account login</h2>
<form class="login__form" action="/users/login" method="post" autocomplete="off">
    <label for="username">Username</label><br>
    <input type="text" name="username"><br>
    <label for="password">Password</label><br>
    <input type="password" name="password"><br>
    <button type="submit">Login</button>
</form>